############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac OS
############

# Mac crap
.DS_Store

############
## Git
############

# Git history
.history/**
