/* CSS Document */

body{
	text-align:center;
	background-color:#CCC;
}

h1{
	font-weight:bolder;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

h3{
	color:#999;
	padding-left:10px;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

a{
	border:none #FFF;
	color:#FFF;
}

#content{
	width:800px;
	height:100%;
	text-align:left;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	margin:auto;
	background-color:#FFF;
	border-width:0px;
}

#hd{
	height:150px;
	margin-top:-25px;
	padding:25px 50px;
}

#ft{
	height:80px;
	width:100%;
	padding-top:20px;
	position:absolute;
	bottom:0px;
}


.black_block{
	vertical-align:middle;
	background-color:black;
	overflow: hidden;
}

.ico{
	background-color:#FFF;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:
}

.link,.ico{
	width:30px;
	height:30px;
}